:root {
  --primary: #ffffff;
  --text1: #c0c4c8;
}
* {
  font-family: "Inter", sans-serif;
}
.containers {
  margin: 0 35px;
  padding: 0 10px;
}
 /* Start navbar  */
.navegation {
  border-bottom: 1px solid #eee;
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 111;
  background-color: white;
}
.navbar-brand {
  color: #db4444 !important;
  font-weight: bold;
}

.navegation ul {
  margin-left: auto;
  gap: 25px;
}
.navegation ul li:hover a,
.navegation ul .active {
  color: #db4444 !important;
}
.navegation form {
  align-items: center;
}
.form-control:focus {
  border-color: #eee !important;

  box-shadow: none !important;
}
.navegation a {
  text-decoration: none;
  color: #333;
}
.navegation form i {
  font-size: 18px;
  margin-left: 10px;
}
.navegation .ico {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-left: 25px;
  font-size: 18px;
}
.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.person p {
  margin: 0;
  margin-left: 10px;
}
.person img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .navegation ul {
    gap: 5px;
  }
  .containers {
    margin: 0;
  }
}
/* End navbar */
/* Start footer */
.footer {
  background-color: black;
  color: white;
  padding: 60px 0 10px 0;
  
}
.foot-conect {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.foot-conect .box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  line-height: 2;
  flex-wrap: wrap;
}
.foot-conect .box:nth-child(1) h2 {
  font-size: 20px;
  color: #db4444;
  font-weight: bold;
  margin-bottom: 20px;
}
.foot-conect h5 {
  font-size: 18px;
  margin-bottom: 15px;
}
.foot-conect p {
  color: var(--text1);
}
.foot-conect input {
  border-radius: 3px;
  border: none;
  background-color: #d3d5d7;
}
.foot-conect input:focus {
  box-shadow: none;
  border-color: white;
  outline: none;
}
.foot-conect .box a {
  color: var(--text1);
  text-decoration: none;
}

.contact_us a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  transition: 0.3s;
}

.contact_us a:hover {
  color: #db4444;
}
.Account-us a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  transition: 0.3s;
  display: block;
}

.Account-us a:hover {
  color: #db4444;
}
@media (max-width: 767px) {
  .foot-conect {
    flex-direction: column;
    align-items: center;
  }
  .box {
    align-items: center;
    margin-bottom: 30px;
  }
  .box:nth-child(2) p {
    width: max-content;
  }
}
.copy {
  color: #8e8e8e;
  text-align: center;
  
}
/* End footer */
