.login-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin-bottom: 100px;
}

.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    padding: 40px 30px;
    padding-bottom: 100px;
}

.login-form input.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
}

.login-form h3 {
    word-spacing: 10px;
}